#CreateEvent {
    padding: 20px;
    border: 1px solid #000;
    background-color: #f9f9f9;
    max-width: 500px;
    margin: auto;
}

#CreateEvent ul.suggestions {
    background-color: #fff;
    border: 1px solid #ccc;
    margin-top: 5px;
    padding: 0;
    width: 100%;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
    list-style-type: none;
}

#CreateEvent li {
    padding: 8px;
    cursor: pointer;
}
#CreateEvent li:hover {
    background-color: #f0f0f0;
}
