header{
    width: 100%;
    border: black 1px solid;
    font-family: Arial;
}
#map{
    width: 202vh;
    height: 350px;
}
#Profile{
    height: 91vh;
    width: 20%;
    display: inline-block;
    background-color:rgb(200, 200, 200);
    padding-left: 10px;
    padding-right: 10px;
}
#usercontacts{
    height: auto;
    background-color:rgb(78, 78, 78);
    border-radius: 10px;
    padding: 10px;
}
#CurrentEvents{
    width: 100%;
    height: 37vh;
    background-color:rgb(223, 223, 223);
    margin: 0;
    padding: 10px;
    margin-top: 10px;
}
#CreateEvent {
    width: auto;
    height: 400px;
    position: absolute;
    top: 20%;
    left: 30%;
    bottom: 0;
    background-color:rgb(223, 223, 223);
    margin: 0;
    padding: 20px; 
    border: '1px solid #000';
    border-radius: 20px
}
.Event{
    background-color: white;
    border-radius: 20px;
    padding: 3px 10px 1px 10px;
    margin-bottom: 5px;
}
.ToGoButton {
    width: auto;
    padding: 5px 20px 5px 20px;
    font-size: 20px;
    background-color: green;
    color: white;
    border-radius: 10px;
}
.ToGoButton:hover {
    background-color: rgb(2, 182, 182);
}
.NegativeButton {
    width: auto;
    padding: 5px 20px 5px 20px;
    font-size: 20px;
    background-color: rgb(206, 47, 47);
    color: white;
    border-radius: 10px;
}
.NegativeButton:hover {
    cursor: pointer;
    background-color: rgb(255, 94, 0);
}
.ContactElement{
    border-radius: 20px; 
    background-color: grey; 
    padding: 1px; 
    margin: 5px;
    margin-top: 10px; 
    width: 80%
}
.GeoSuggest {
    font-family: 'Comfortaa';
    background-color: white;
    font-family: Arial;
    font-size: 12px;
}
.GeoSuggest:hover {
    cursor: pointer;
    background-color: grey;
}