header{
    width: 100%;
    border: black 1px solid;
    font-family: Arial;
}
#Profile{
    height: 685px;
    width: 20%;
    display: inline-block;
    background-color:rgb(200, 200, 200);
    padding-left: 10px;
    padding-right: 10px;
}
#usercontacts{
    height: auto;
    background-color:rgb(78, 78, 78);
    border-radius: 10px;
    padding: 10px;
}
#CurrentEvents{
    width: 76%;
    height: auto;
    position: absolute;
    bottom: 0;
    background-color:rgb(200, 200, 200);
    margin: 0;
    padding: 10px;
}
#CreateEvent {
    display: none;
    width: 76%;
    height: 40vh;
    position: absolute;
    bottom: 0;
    background-color:rgb(200, 200, 200);
    margin: 5px;
    padding: 10px;
}
.Event{
    background-color: white;
    border-radius: 20px;
    padding: 3px 10px 1px 10px;
    margin-bottom: 5px;
}
.ToGoButton {
    width: auto;
    padding: 5px 20px 5px 20px;
    font-size: 20px;
    background-color: green;
    color: white;
    border-radius: 10px;
}
.ToGoButton:hover {
    background-color: rgb(2, 182, 182);
}
.ContactElement{
    border-radius: 20px; 
    background-color: grey; 
    padding: 1px; 
    margin: 5px; 
    width: 80%
}
